//
//    Copyright (C) Microsoft.  All rights reserved.
//
#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Broadcom 2836 Arasan SD Host Controller Driver"
#define VER_INTERNALNAME_STR        "bcm2836sdhc.sys"
#define VER_ORIGINALFILENAME_STR    "bcm2836sdhc.sys"

// Ensure that VS_VERSION_INFO is not defined
#ifdef VS_VERSION_INFO
#undef VS_VERSION_INFO
#endif

#include "common.ver"

