//
//    Copyright (C) Microsoft.  All rights reserved.
//
#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	          VFT_DRV
#define	VER_FILESUBTYPE	          VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR   "ARM PL011 UART Driver"
#define VER_INTERNALNAME_STR      "SerPL011.sys"
#define VER_ORIGINALFILENAME_STR  "SerPL011.sys"

// Ensure that VS_VERSION_INFO in not defined
#ifdef VS_VERSION_INFO 
#undef VS_VERSION_INFO 
#endif

#include "common.ver"
